<header class="menu-superior navbar navbar-expand-lg navbar-light" style="background-color: #4AB7E6;">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="../../../assets/logo_azul.png" alt="home" class="logo-inicial" style="height: 40px;">
  </a>
  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="loggedUserId != 'null'">
        <a class="nav-link" [routerLink]="['/pantry']">MI DESPENSA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ingredients']">INGREDIENTES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/recipes']">RECETAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-light" [routerLink]="['/login']" *ngIf="loggedUserId == 'null'" style="border: 3px solid #163E7A;">INICIAR SESIÓN</a>
        <a class="nav-link btn btn-light" (click)="goAccount()" *ngIf="loggedUserId != 'null'" style="border: 3px solid #163E7A;">MI CUENTA</a>
      </li>
    </ul>
  </div>
</header>
