<section class="container">
  <div class="update-password">
    <div class="d-flex flex-column align-items-center">
      <h1 class="mt-5">CAMBIAR CONTRASEÑA</h1>
      <img src="../../../assets/banner.png" class="banner mb-5">
    </div>
    <div class="d-flex justify-content-center align-items-center mb-5" style="min-height: 50vh;">
      <div class="card border-secondary mb-3" style="max-width: 40rem; width: 100%;">
        <div class="card-body">
          <form [formGroup]="formPass">

            <div class="form-group">
              <label for="currentPassword">Contraseña actual</label>
              <div class="input-group">
                <input type="password" name="contraseña-actual" id="current-password" size="30" class="form-control" formControlName="currentPassword">
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('current-password', 'toggleCurrentPasswordIcon')">
                    <i id="toggleCurrentPasswordIcon" class="fa fa-eye"></i>
                  </button>
                </div>
              </div>
              <small *ngIf="incorrectCurrentPassword" class="form-text text-danger">Contraseña actual incorrecta</small>
            </div>

            <div class="form-group">
              <label for="newPassword">Nueva contraseña</label>
              <div class="input-group">
                <input type="password" name="nueva-contraseña" id="new-password" size="30" class="form-control" formControlName="newPassword">
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('new-password', 'toggleNewPasswordIcon')">
                    <i id="toggleNewPasswordIcon" class="fa fa-eye"></i>
                  </button>
                </div>
              </div>
              <small *ngIf="newPasswordNoValido" class="form-text text-danger">La contraseña debe tener al menos una letra mayúscula, una minúscula, un número, un carácter especial y longitud mínima 8</small>
            </div>

            <div class="form-group">
              <label for="confirmNewPassword">Repetir nueva contraseña</label>
              <div class="input-group">
                <input type="password" name="repetir-nueva-contraseña" id="confirm-new-password" size="30" class="form-control" formControlName="confirmNewPassword">
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('confirm-new-password', 'toggleConfirmNewPasswordIcon')">
                    <i id="toggleConfirmNewPasswordIcon" class="fa fa-eye"></i>
                  </button>
                </div>
              </div>
              <small *ngIf="confirmNewPasswordNoValido" class="form-text text-danger">Las contraseñas no coinciden</small>
            </div>

            <div class="d-flex justify-content-between mt-4">
              <button class="btn btn-primary" (click)="update()">Guardar cambios</button>
              <button class="btn" (click)="cancel($event)" style="background-color: lightgrey;">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de confirmación de actualización de la contraseña -->
  <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Confirmación de actualización de la contraseña</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="redirectToAccount()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Su contraseña se ha actualizado correctamente.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="redirectToAccount()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</section>
